@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colores base solicitados */
:root{
  --btn:#D86835;
  --nav:#3C6030;
}
button{ background: var(--btn); color:white; border-radius: 10px; padding: .6rem 1rem;}
button:hover{ opacity:.9; }
.navbar{ background: var(--nav); color:white; }
.link{ text-decoration: underline; }
.card{ background:white; border-radius: 14px; padding: 1rem; box-shadow: 0 8px 24px rgba(0,0,0,.06); }
